<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Advanced React.js</title>
    </head>
    <body>
        <div id="root">
            Loading...
        </div>
        <script src="/bundle.js"></script>
    </body>
</html>

